# Percentiles Using the Method Describe from Pandas Library

- data: https://media.geeksforgeeks.org/wp-content/uploads/nba.csv (percebtiles_nba.csv)

More: https://www.geeksforgeeks.org/python-pandas-dataframe-describe-method/

# Import Libraries

In [1]:
import numpy as np
import pandas as pd

# Load data

In [2]:
nba_df = pd.read_csv('./ab_data/percebtiles_nba.csv')

In [6]:
nba_df = nba_df.dropna()

In [7]:
nba_df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0

In [8]:
nba_df.describe()

           Number         Age      Weight        Salary
count  364.000000  364.000000  364.000000  3.640000e+02
mean    16.829670   26.615385  219.785714  4.620311e+06
std     14.994162    4.233591   24.793099  5.119716e+06
min      0.000000   19.000000  161.000000  5.572200e+04
25%      5.000000   24.000000  200.000000  1.000000e+06
50%     12.000000   26.000000  220.000000  2.515440e+06
75%     25.000000   29.000000  240.000000  6.149694e+06
max     99.000000   40.000000  279.000000  2.287500e+07

# Let's do all the steps

1. Put the list of numbers in order
2. Then cut the list into four equal parts
3. The Quartiles are at the "cuts"

In [9]:
age = list(nba_df[['Age']].sort_values('Age')['Age'])

In [10]:
np.median(age)  # should be the same as describe 50%

26.0

In [11]:
# Positions (remember that an array starts with 0)
print(len(age))
print(len(age)*.25-1)
print(len(age)*.50-1)
print(len(age)*.75-1)

364
90.0
181.0
272.0

In [12]:
# Positions
print(age[int(len(age)*.25)])
print(age[int(len(age)*.50)])
print(age[int(len(age)*.75)])

24.0
26.0
29.0

In [ ]:
weight = list(nba_df[['Weight']].sort_values('Weight')['Weight'])

In [ ]:
# Positions
print(weight[int(len(weight)*.25)])
print(weight[int(len(weight)*.50)])
print(weight[int(len(weight)*.75)])